In [1]:
#Importamos Librerias
import pandas as pd
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [9]:
#Cargamos archivo
df_Argentina= pd.read_csv('Buenos Aires.csv') 
df_Argentina.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,639280827847650582,Lugar encantador en vicente lopez,461943087,Roberto,NaN,Nuñez,-34.52618,-58.48117,Entire home/apt,2880,1,0,NaN,NaN,1,364,0,NaN
1,33712571,Ambiente familiar....tranquilo,187744857,Griselda,NaN,Villa Lugano,-34.68885,-58.50478,Entire home/apt,1230,2,0,NaN,NaN,1,89,0,NaN
2,32934967,"Habitacion para viajeros, estudiantes",247809450,Sebastian,NaN,Mataderos,-34.68112,-58.51895,Private room,3697,15,0,NaN,NaN,1,365,0,NaN
3,42042076,Hotel Vicente Lopez,183363682,Bernardo,NaN,Nuñez,-34.52638,-58.47069,Private room,5500,1,6,2021-10-10,0.21,2,73,1,NaN
4,33424822,Departamento de 2 ambientes frente al río,36564453,Sandra,NaN,Nuñez,-34.51730,-58.47505,Entire home/apt,1915,15,3,2021-07-24,0.21,15,205,2,NaN

In [13]:
#Eliminamos columnas innecesarias para el análisis actual
data = df_Argentina.copy()
data.drop(['id', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude','name', 'license', 'room_type', 'last_review'],
 axis = 'columns', inplace=True)
data

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,2880,1,0,NaN,1,364,0
1,1230,2,0,NaN,1,89,0
2,3697,15,0,NaN,1,365,0
3,5500,1,6,0.21,2,73,1
4,1915,15,3,0.21,15,205,2
...,...,...,...,...,...,...,...
16190,17252,3,18,0.45,15,60,4
16191,9436,2,16,0.18,4,219,0
16192,7394,14,2,0.03,2,365,0
16193,6162,2,23,4.21,47,173,23
16194,8450,1,79,2.37,1,232,37

In [14]:
#Detectamos valores nulos
valores_nulos = data.isnull().sum()
valores_nulos

price                                0
minimum_nights                       0
number_of_reviews                    0
reviews_per_month                 3527
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
dtype: int64

In [15]:
#Copia del dataframe
data2=data.copy()
#Realizar valores nulos con promedio 
data2["reviews_per_month"]=data2["reviews_per_month"].fillna(round(data["reviews_per_month"].mean(),1))
data2

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,2880,1,0,0.90,1,364,0
1,1230,2,0,0.90,1,89,0
2,3697,15,0,0.90,1,365,0
3,5500,1,6,0.21,2,73,1
4,1915,15,3,0.21,15,205,2
...,...,...,...,...,...,...,...
16190,17252,3,18,0.45,15,60,4
16191,9436,2,16,0.18,4,219,0
16192,7394,14,2,0.03,2,365,0
16193,6162,2,23,4.21,47,173,23
16194,8450,1,79,2.37,1,232,37

In [16]:
#Corroboramos que no existan valores nulos
#Detectamos valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos

price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
dtype: int64