In [1]:
#Importamos Librerias
import pandas as pd
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [17]:
#Cargamos archivo
df_Argentina= pd.read_csv('Buenos Aires.csv') 
df_Argentina

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,639280827847650582,Lugar encantador en vicente lopez,461943087,Roberto,NaN,Nuñez,-34.52618,-58.48117,Entire home/apt,2880,1,0,NaN,NaN,1,364,0,NaN
1,33712571,Ambiente familiar....tranquilo,187744857,Griselda,NaN,Villa Lugano,-34.68885,-58.50478,Entire home/apt,1230,2,0,NaN,NaN,1,89,0,NaN
2,32934967,"Habitacion para viajeros, estudiantes",247809450,Sebastian,NaN,Mataderos,-34.68112,-58.51895,Private room,3697,15,0,NaN,NaN,1,365,0,NaN
3,42042076,Hotel Vicente Lopez,183363682,Bernardo,NaN,Nuñez,-34.52638,-58.47069,Private room,5500,1,6,2021-10-10,0.21,2,73,1,NaN
4,33424822,Departamento de 2 ambientes frente al río,36564453,Sandra,NaN,Nuñez,-34.51730,-58.47505,Entire home/apt,1915,15,3,2021-07-24,0.21,15,205,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16190,31262931,Puerto Madero Elegant Suite | CasaBAires,183209971,Giselle,NaN,Dique 3,-34.60776,-58.36477,Entire home/apt,17252,3,18,2022-06-19,0.45,15,60,4,NaN
16191,4603277,"Beathtaking views, pool, jacuzzi",22521769,Berni,NaN,Dique 2,-34.61566,-58.36392,Entire home/apt,9436,2,16,2021-04-10,0.18,4,219,0,NaN
16192,14330953,"Luxury Apartment in Buenos Aires, Puerto Madero",87714052,Estefania,NaN,Dique 3,-34.60935,-58.36434,Entire home/apt,7394,14,2,2019-04-15,0.03,2,365,0,NaN
16193,53893506,Hermoso departamento en Puerto Madero/PISCINA/GYM,137667992,Valeria,NaN,Dique 3,-34.60828,-58.36579,Entire home/apt,6162,2,23,2022-05-29,4.21,47,173,23,NaN
16194,38524423,Puerto Madero Loft ★★★★★,293823818,Maria,NaN,Dique 3,-34.60579,-58.36555,Entire home/apt,8450,1,79,2022-06-12,2.37,1,232,37,NaN

In [13]:
#Eliminamos columnas innecesarias para el análisis actual
data = df_Argentina.copy()
data.drop(['id', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude','name', 'license', 'room_type', 'last_review'],
 axis = 'columns', inplace=True)
data

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,2880,1,0,NaN,1,364,0
1,1230,2,0,NaN,1,89,0
2,3697,15,0,NaN,1,365,0
3,5500,1,6,0.21,2,73,1
4,1915,15,3,0.21,15,205,2
...,...,...,...,...,...,...,...
16190,17252,3,18,0.45,15,60,4
16191,9436,2,16,0.18,4,219,0
16192,7394,14,2,0.03,2,365,0
16193,6162,2,23,4.21,47,173,23
16194,8450,1,79,2.37,1,232,37

In [14]:
#Detectamos valores nulos
valores_nulos = data.isnull().sum()
valores_nulos

price                                0
minimum_nights                       0
number_of_reviews                    0
reviews_per_month                 3527
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
dtype: int64

In [15]:
#Copia del dataframe
data2=data.copy()
#Realizar valores nulos con promedio 
data2["reviews_per_month"]=data2["reviews_per_month"].fillna(round(data["reviews_per_month"].mean(),1))
data2

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,2880,1,0,0.90,1,364,0
1,1230,2,0,0.90,1,89,0
2,3697,15,0,0.90,1,365,0
3,5500,1,6,0.21,2,73,1
4,1915,15,3,0.21,15,205,2
...,...,...,...,...,...,...,...
16190,17252,3,18,0.45,15,60,4
16191,9436,2,16,0.18,4,219,0
16192,7394,14,2,0.03,2,365,0
16193,6162,2,23,4.21,47,173,23
16194,8450,1,79,2.37,1,232,37

In [16]:
#Corroboramos que no existan valores nulos
#Detectamos valores nulos
valores_nulos = data2.isnull().sum()
valores_nulos

price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
dtype: int64

In [18]:
#Método aplicando desviación estandar. Encuentro los valores extremos
y=data2
Limite_Superior= y.mean() + 3*y.std()
Limite_Inferior= y.mean() - 3*y.std()
print("Limite superior permitido", Limite_Superior)
print("Limite inferior permitido", Limite_Inferior)

Limite superior permitido price                             357361.559810
minimum_nights                        96.717847
number_of_reviews                    133.082598
reviews_per_month                      3.679368
calculated_host_listings_count        76.396719
availability_365                     579.634772
number_of_reviews_ltm                 32.471647
dtype: float64
Limite inferior permitido price                            -338045.855086
minimum_nights                       -80.796390
number_of_reviews                    -91.833200
reviews_per_month                     -1.827142
calculated_host_listings_count       -55.663777
availability_365                    -169.034958
number_of_reviews_ltm                -22.120551
dtype: float64

In [19]:
#Encontramos Ouliers del Dataframe
outliers= data2[(y>Limite_Superior)|(y<Limite_Inferior)]
outliers

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
16190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16191,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16192,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16193,NaN,NaN,NaN,4.21,NaN,NaN,NaN
16194,NaN,NaN,NaN,NaN,NaN,NaN,37.0

In [20]:
#Obtenemos datos sin outliers del DataFrame
data3= data2[(y<=Limite_Superior)&(y>=Limite_Inferior)]
data3

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,2880.0,1.0,0.0,0.90,1.0,364,0.0
1,1230.0,2.0,0.0,0.90,1.0,89,0.0
2,3697.0,15.0,0.0,0.90,1.0,365,0.0
3,5500.0,1.0,6.0,0.21,2.0,73,1.0
4,1915.0,15.0,3.0,0.21,15.0,205,2.0
...,...,...,...,...,...,...,...
16190,17252.0,3.0,18.0,0.45,15.0,60,4.0
16191,9436.0,2.0,16.0,0.18,4.0,219,0.0
16192,7394.0,14.0,2.0,0.03,2.0,365,0.0
16193,6162.0,2.0,23.0,NaN,47.0,173,23.0
16194,8450.0,1.0,79.0,2.37,1.0,232,NaN

In [21]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data_clean=data3.copy()
data_clean=data_clean.fillna(round(data3.mean(),1))
data_clean

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,2880.0,1.0,0.0,0.90,1.0,364,0.0
1,1230.0,2.0,0.0,0.90,1.0,89,0.0
2,3697.0,15.0,0.0,0.90,1.0,365,0.0
3,5500.0,1.0,6.0,0.21,2.0,73,1.0
4,1915.0,15.0,3.0,0.21,15.0,205,2.0
...,...,...,...,...,...,...,...
16190,17252.0,3.0,18.0,0.45,15.0,60,4.0
16191,9436.0,2.0,16.0,0.18,4.0,219,0.0
16192,7394.0,14.0,2.0,0.03,2.0,365,0.0
16193,6162.0,2.0,23.0,0.80,47.0,173,23.0
16194,8450.0,1.0,79.0,2.37,1.0,232,4.2

In [ ]:
#Obtenemos el archivo limpio
data_clean.to_csv("BuenosAires_limpio.csv")