In [2]:
#Importamos Librerias
import pandas as pd
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [4]:
#Cargamos archivo
df= pd.read_csv('mexico_gestion.csv') 
df

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,752,1,0,NaN,1,365,0
1,800,1,1,0.02,1,179,0
2,1779,1,5,0.14,4,222,1
3,500,7,0,NaN,1,365,0
4,444,1,125,1.08,6,288,2
...,...,...,...,...,...,...,...
8072,330,2,4,1.54,3,365,4
8073,333,3,0,NaN,1,363,0
8074,490,2,2,0.03,1,365,0
8075,210,1,6,0.64,6,365,6
8076,250,6,0,NaN,1,364,0

In [5]:
#Detectamos valores nulos
valores_nulos = df.isnull().sum()
valores_nulos

price                                0
minimum_nights                       0
number_of_reviews                    0
reviews_per_month                 2214
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
dtype: int64

In [6]:
#Copia del dataframe
df2=df.copy()
#Realizar valores nulos con promedio 
df2["reviews_per_month"]=df2["reviews_per_month"].fillna(round(df["reviews_per_month"].mean(),1))
df2

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,752,1,0,1.30,1,365,0
1,800,1,1,0.02,1,179,0
2,1779,1,5,0.14,4,222,1
3,500,7,0,1.30,1,365,0
4,444,1,125,1.08,6,288,2
...,...,...,...,...,...,...,...
8072,330,2,4,1.54,3,365,4
8073,333,3,0,1.30,1,363,0
8074,490,2,2,0.03,1,365,0
8075,210,1,6,0.64,6,365,6
8076,250,6,0,1.30,1,364,0

In [7]:
#Corroboramos que no existan valores nulos
#Detectamos valores nulos
valores_nulos = df2.isnull().sum()
valores_nulos

price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
dtype: int64

***************PROCEDIMIENTO "DESVIACIÓN ESTÁNDAR" PARA ELIMINAR OUTLIERS EN DATAFRAME*****************

In [8]:
#Método aplicando desviación estandar. Encuentro los valores extremos
y=df2
Limite_Superior= y.mean() + 3*y.std()
Limite_Inferior= y.mean() - 3*y.std()
print("Limite superior permitido", Limite_Superior)
print("Limite inferior permitido", Limite_Inferior)

Limite superior permitido price                             16155.163037
minimum_nights                       88.213290
number_of_reviews                   165.437117
reviews_per_month                     7.378666
calculated_host_listings_count       39.827531
availability_365                    624.462390
number_of_reviews_ltm                74.209065
dtype: float64
Limite inferior permitido price                            -14363.270502
minimum_nights                      -79.154234
number_of_reviews                  -123.899912
reviews_per_month                    -4.839139
calculated_host_listings_count      -28.855140
availability_365                   -120.090717
number_of_reviews_ltm               -59.163628
dtype: float64

In [9]:
#Encontramos Ouliers del Dataframe
outliers= df2[(y>Limite_Superior)|(y<Limite_Inferior)]
outliers

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
8072,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8073,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8074,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8075,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8076,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Obtenemos datos sin outliers del DataFrame
df3= df2[(y<=Limite_Superior)&(y>=Limite_Inferior)]
df3

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,752.0,1.0,0.0,1.30,1.0,365,0.0
1,800.0,1.0,1.0,0.02,1.0,179,0.0
2,1779.0,1.0,5.0,0.14,4.0,222,1.0
3,500.0,7.0,0.0,1.30,1.0,365,0.0
4,444.0,1.0,125.0,1.08,6.0,288,2.0
...,...,...,...,...,...,...,...
8072,330.0,2.0,4.0,1.54,3.0,365,4.0
8073,333.0,3.0,0.0,1.30,1.0,363,0.0
8074,490.0,2.0,2.0,0.03,1.0,365,0.0
8075,210.0,1.0,6.0,0.64,6.0,365,6.0
8076,250.0,6.0,0.0,1.30,1.0,364,0.0

In [12]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
df_clean=df3.copy()
df_clean=df_clean.fillna(round(df3.mean(),1))
df_clean

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,752.0,1.0,0.0,1.30,1.0,365,0.0
1,800.0,1.0,1.0,0.02,1.0,179,0.0
2,1779.0,1.0,5.0,0.14,4.0,222,1.0
3,500.0,7.0,0.0,1.30,1.0,365,0.0
4,444.0,1.0,125.0,1.08,6.0,288,2.0
...,...,...,...,...,...,...,...
8072,330.0,2.0,4.0,1.54,3.0,365,4.0
8073,333.0,3.0,0.0,1.30,1.0,363,0.0
8074,490.0,2.0,2.0,0.03,1.0,365,0.0
8075,210.0,1.0,6.0,0.64,6.0,365,6.0
8076,250.0,6.0,0.0,1.30,1.0,364,0.0

In [13]:
#Obtenemos el archivo limpio
df_clean.to_csv("mexico_limpio.csv")